@charset "UTF-8";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --youngserif: 'Young Serif', serif;
    --outfit: 'Outfit', sans-serif;
    --white: hsl(0, 0%, 100%);
    --stone100: hsl(30, 54%, 90%);
    --stone150: hsl(30, 18%, 87%);
    --stone600: hsl(30, 10%, 34%);
    --stone900: hsl(24, 5%, 18%);
    --brown800: hsl(14, 45%, 36%);
    --rose800: hsl(332, 51%, 32%);
    --rose50: hsl(330, 100%, 98%);
}

body {
    background-color: var(--stone100);
    margin: 0;
    padding: 0;
    font-family: var(--outfit);
}

main {
    background-color: var(--white);
    padding: 30px;
    margin: 50px auto 0 auto; /* Adiciona 50px de espaçamento superior no desktop */
    max-width: 620px; /* Limite máximo de largura para desktops */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3 {
    font-family: var(--youngserif);
    line-height: 1.5em;
}

p, ul, ol {
    font-family: var(--outfit);
    font-size: 16px;
    text-align: justify;
}

h2, h3 {
    color: var(--rose800);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.img-content {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Garante que o contêiner ocupe toda a largura disponível */
    overflow: hidden; /* Garante que a imagem não ultrapasse o contêiner */
}

.img-content img {
    width: 100%; /* A imagem ocupa toda a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    max-width: 100%; /* Limita a largura máxima da imagem */
    display: block; /* Remove espaços em branco abaixo da imagem */
    border-radius: 10px;
}

/* MOBILE */
@media (max-width: 600px) {
    main {
        margin: 0; /* Remove a margem superior para mobile */
        padding: 0px;
        box-shadow: none;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .img-content {
        width: 100%; /* Ocupa toda a largura da tela em mobile */
        border-radius: 0px;
    }

    .img-content img {
        width: 100%; /* A imagem ocupa toda a largura do contêiner */
        height: 100vh; /* Faz a imagem cobrir a altura total da tela */
        object-fit: contain; /* Garante que a imagem cobre toda a área, mantendo a proporção */
        margin: 0; /* Remove qualquer margem que possa afetar o posicionamento */
        border-radius: 0px;
    }

    .text-content {
        flex: 1 1 100%;
        margin: 0;
        padding: 10px;
    }
}
